@font-face {
    font-family: 'iconfont';
    /* project id 1445011 */
    src: url('//at.alicdn.com/t/font_1445011_5kii9awl4m.eot');
    src: url('//at.alicdn.com/t/font_1445011_5kii9awl4m.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_1445011_5kii9awl4m.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_1445011_5kii9awl4m.woff') format('woff'),
        url('//at.alicdn.com/t/font_1445011_5kii9awl4m.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_1445011_5kii9awl4m.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 13px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.swipe-imgl {
    clip: rect(0px 150px 85px 0px);
}

.c-huanl {
    width: 90%;
    height: auto;
    background-color: #fff;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-top: 4%;
    font-size: 15px;
    color: #4f4f4f;
    box-shadow: 0 4px 8px 0 rgba(41, 35, 35, 0.2),
        0 6px 20px 0 rgba(107, 96, 96, 0.19);
}

.c-l {
    padding-top: 5%;
}

.c-ll {
    padding-top: 1%;
}

.d-swipe {
    width: 100%;
    height: 100%;
}

.df-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.df-centerll {
    display: flex;
    justify-content: right;
    align-items: center;
}

.df-centerl {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-one {
    display: flex;
    align-items: center;
}

.mar {
    margin: 0 auto;
}

.white-color {
    color: #fff;
}

.search-left {
    margin-left: 5%;
}

.content-top {
    width: 95%;
    height: 50px;
    color: #9c9c9c;
}

.fix {
    border-top: 2px solid rgb(243, 241, 241);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}

.fixed {
    width: 100%;
    position: fixed;
    height: 100%;
    top: 510px;
}

.height-btnl {
    height: 36px;
    width: 55%;
    border-radius: 3%;
    font-size: 13px;
}

.height-btn {
    height: 34px;
    border-radius: 3%;
}